*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
footer {
    background-color: #f0f0f0;
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    
}
nav{
    position: static;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinhar verticalmente */
    flex-direction: column; /* Disposição em coluna */
}

.left-content {
    display: flex;
    align-items: flex-start; /* Alinhar verticalmente */
}

.footer-text {
    margin-left: 20px;
}

.social-media {
    display: flex;
}

.social-media a {
    margin-right: 10px;
}
#logo{
   
}