@font-face {
    font-family: 'MavenPro-Bold';
    src: url('../fonts/MavenPro-Bold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: MavenPro-Bold;
    text-decoration: none;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}

nav {
    background-color: #23252b;
    height: 60px;
    padding: 0 20px;
    
}

.links {
    gap: 20px;
    width: 300px;
    padding-top:22px ;
}

.links a {
    color: #FFFFFF;
    transition: .3s ease;
}

.links a:hover {
    color: #f47521;
}

.header-logo-container {
    display: flex;
    justify-content: center;
}

.header-logo {
    width: 136px;
    height: 24px;
    font-size: 18px;
    text-align: right;
    color: #f47521;
    transition: .3s ease;
    background-image: url("../imgs/Crunchyroll-Symbol.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.header-logo:hover {
    color: #FFFFFF;
    background-image: url("../imgs/Crunchyroll-Symbol-branco.png");
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.left-content {
    display: flex;
    align-items: flex-start;
}

.footer-text {
    margin-left: 20px;
}

.social-media {
    display: flex;
}

.social-media a {
    margin-right: 10px;
}
