body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #container-login {
    background-color: #141519d7;
    color: white;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  #bt-login{
    margin-right: 15px;
  }
  .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login-form h3{
    text-align: center;
    margin: 10px;
  }
  main{
    display: flex;
    justify-content: center;
  }
  .img-hime{
    position: absolute;
    z-index: 2;
    inset-block-start: -2.75rem;
    inset-inline-start: -8.875rem;
    width: 11.625rem;
  }
  .img-yuzu{
    position: absolute;
    z-index: 2;
    inset-block-start: 21.125rem;
    inset-inline-end: -5.5rem;
    width: 7.375rem;
  }
