@font-face {
    font-family: 'MavenPro-Bold';
    src: url('../fonts/MavenPro-Bold.ttf') format('truetype');
}

header {
    background-color: #23252b !important;
    box-shadow: 0px 3px 10px #464646;
    width: 100%;
    padding: 15px 4%;
    position: sticky;
    top: 0;
    z-index: 9999;
}
html,body{
    width: 100%;
    height: 100%;
    z-index: 99;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(39, 39, 39) 90.2%) !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    scroll-behavior: smooth;
}
/* estilização do conteúdo */

section{
    padding: 90px 4%;
    border-bottom: 1px solid #ccc;
}

section h2{
    font-size: 2em;
    margin-bottom: 25px;
}

section p{
    font-size: 20px;
}
.login-button{
    transition: .3s ease;
}
.login-button:hover{
  transform: scale(1.08);
  opacity: 90%; 
}
#insta:hover{
    display: inline-block;
    transform:scale(0.9);
    box-shadow: 0px 0px 8px rgb(255, 243, 236);
    border-radius: 50px;
  }
  #facebook:hover{
    display: inline-block;
    transform:scale(0.9);
    box-shadow: 0px 0px 8px rgb(255, 243, 236);
    border-radius: 25px;
  }
  #youtube:hover{
    display: inline-block;
    transform:scale(0.9);
    box-shadow: 0px 0px 4px rgb(255, 243, 236);
    border-radius: 25px;
  }







